# 依赖
node_modules/
package-lock.json

# 日志
logs/
*.log
npm-debug.log*

# 环境变量
.env
.env.local

# 操作系统
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.cursor/
*.swp
*.swo

# 临时文件
tmp/
temp/
node_modules/
.claude/
/data/